<div class="modal-content">
	<form id="requestCoach" name="requestCoach" role="form" ng-submit="vm.onSubmit()"
	class="form-horizontal">
		<div class="modal-header">
			<button type="button" ng-click="vm.uibModal.cancel()" class="close">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<h4 id="myModalLabel" class="modal-title">Request for a coach {{ vm.coachData.shortDescription }}</h4>
		</div>
		<div class="modal-body">
			<div class="modal-body">
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}
				</div>

			<div class="form-group">
				<label for="time" class="col-sm-2 control-label">Time that prefer</label>
				<div class="col-sm-10">
					<textarea id="time" name="time" rows="3" required="required" ng-model="vm.formData.time" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="place" class="col-sm-2 control-label">Place</label>
				<div class="col-sm-10">
					<textarea id="place" name="place" rows="5" required="required" ng-model="vm.formData.place" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Contact number</label>
				<div class="col-sm-10">
					<input type="text" id="phone" name="phone" rows="5" required="required" ng-model="vm.formData.phone" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" id="email" name="email" required="required" ng-model="vm.formData.email" class="form-control"></textarea>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="vm.uibmodal.cancel()" type="button" class="btn btn-default">Cancel</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>