<navigation></navigation>

	<!-- <div class="container clear-fix"> -->
	
	
	<div class ="row white centered">
	<div class="col-xs-12">
		<h1 style="margin-bottom: 40px" translate="FORM.HEAD.SUBSCRIPTION"></h1>
		<h5 translate="FORM.HEAD.PRIVACY"></h5><br>
	</div>
	<form id="subscription" name="vm.subscription" role="form" ng-submit="vm.onSubmit()"
	class="container form-horizontal" novalidate>
		<div class="form-group" ng-class="{ 'has-error': vm.subscription.name.$touched  && vm.subscription.name.$invalid }">
			<label for="name" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.NAME" | translate}}<span class="required">*</span></label>
			<div class="col-xs-9 col-sm-10">
				<input id="name" name="name" required ng-model="vm.formData.name" class="form-control" placeholder="Your real name">
				<div class="help-block" ng-messages="vm.subscription.name.$error" ng-show="vm.subscription.name.$touched">
				    <div ng-messages-include="/common/addCoach/messages.html"></div>
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': vm.subscription.surname.$touched  && vm.subscription.surname.$invalid }">
			<label for="surname" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.SURNAME" | translate}}<span class="required">*</span></label>
			<div class="col-xs-9 col-sm-10">
				<input id="surname" name="surname" required ng-model="vm.formData.surname" class="form-control">
				<div class="help-block" ng-messages="vm.subscription.surname.$error" ng-show="vm.subscription.surname.$touched">
				    <div ng-messages-include="/common/addCoach/messages.html"></div>
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': vm.subscription.email.$touched  && vm.subscription.email.$invalid }">
			<label for="email" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.EMAIL" | translate}}<span class="required">*</span></label>
			<div class="col-xs-9 col-sm-10">
				<input type="email" id="email" name="email" required ng-model="vm.formData.email" class="form-control" placeholder="name@xxx.com">
				<div class="help-block" ng-messages="vm.subscription.email.$error" ng-show="vm.subscription.email.$touched">
				    <div ng-messages-include="/common/addCoach/messages.html"></div>
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error': vm.subscription.telephone.$touched  && vm.subscription.telephone.$invalid }">
			<label for="telephone" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.MOBILE" | translate}}<span class="required">*</span></label>
			<div class="col-xs-9 col-sm-10">
				<input id="telephone" name="telephone" required ng-model="vm.formData.telephone" class="form-control" value="+66" placeholder="0xx-xxx-xxxx">
				<div class="help-block" ng-messages="vm.subscription.telephone.$error" ng-if="vm.subscription.telephone.$touched">
				    <div ng-messages-include="/common/addCoach/messages.html"></div>
				</div>
			</div>
		</div>
		<div class="form-group">
				<label for="lineid" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.LINE" | translate}}</label>
				<div class="col-xs-9 col-sm-10">
					<input id="lineid" name="lineid" required ng-model="vm.formData.lineid" class="form-control" placeholder="LINE ID">
					
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.ADDRESS" | translate}}</label>
				<div class="col-xs-9 col-sm-10">
					<textarea rows="3" cols="30" id="address" name="address" required ng-model="vm.formData.address" class="form-control"></textarea>
					
				</div>
			</div>
			<div class="form-group">
	            <label for="experience" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.EXPERIENCE" | translate}}</label>
	            <div class="col-xs-9 col-sm-10">
	              <textarea rows="3" cols="30" id="experience" name="experience"  ng-model="vm.formData.experience" class="form-control"></textarea>
	              
	            </div>
	         </div>
			<div class="form-group" ng-class="{ 'has-error': vm.subscription.idnumber.$touched  && vm.subscription.idnumber.$invalid }">
				<label for="idnumber" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.ID" | translate}}<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="idnumber" name="idnumber" required ng-model="vm.formData.idnumber" class="form-control" placeholder="Your national ID or Passport Number">
					<div class="help-block" ng-messages="vm.subscription.idnumber.$error" ng-if="vm.subscription.idnumber.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.subscription.education.$touched  && vm.subscription.education.$invalid }">
				<label for="education" class="col-xs-3 col-sm-2 control-label">{{"FORM.LABEL.EDUCATION" | translate}}<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<textarea rows="3" cols="30" id="education" name="education" required ng-model="vm.formData.education" class="form-control"></textarea>
					<div class="help-block" ng-messages="vm.subscription.education.$error" ng-if="vm.subscription.education.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.subscription.role.$touched  && vm.subscription.role.$invalid }">
				<label for="role" class="col-xs-3 col-sm-2 control-label">{{"HOME.FREE.ROLE" | translate}}<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<label class="form-check-inline">
						<input type="radio" class="form-check-input" name="role" id="teacher" value="teacher" ng-model="vm.formData.role" checked>
						{{'HOME.FREE.COACH' | translate}}
					</label>
					<label class="form-check-inline">
						<input type="radio" class="form-check-input" name="role" id="student" value="student" ng-model="vm.formData.role">
						{{'HOME.FREE.STUDENT' | translate}}
					</label>
					<div class="help-block" ng-messages="vm.subscription.role.$error" ng-if="vm.subscription.role.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>	
				</div>
			</div>
		<div class="modal-footer" style="background-color: white">
			
			<button type="reset" ng-click="vm.resetForm()" class="btn btn-default">Cancel</button>
			<button ng-click="vm.onSubmit()" ng-disabled="vm.isDisabled" type="button" class="btn btn-primary">Submit</button>
		</div>
	</form>


		
		
	

		<div ng-show="vm.message.success">
			<button class="btn btn-success btn-block">Coach Successfully added!
			</button>
		</div>
		<div  ng-show="vm.formError">
			<button class="btn btn-danger btn-block">{{ vm.formError }}
			</button>
		</div>
	</div>
	<!-- </div> -->
	
<footer-generic></footer-generic>