<navigation></navigation>
<div class="container clear-fix" >
	
	    <hgroup class="mb20">
			<h1>{{'FORM.HEAD.SEARCH' | translate}}</h1>
			<h2 class="lead"><strong class="text-danger">{{vm.count}}</strong><strong class="text-danger">{{vm.text}}</strong></h2>								
		</hgroup>
		<button class="btn btn-lg btn-success landing-button" ng-click="vm.popupHelp()"> {{'LANDING.HELP' | translate}} </button>
		<div class="row">
	    <section class="col-sm-6 col-md-4">
	    	
	    	<label for="province">{{'FORM.LABEL.PROVINCE' | translate}}</label>
	    	<select class="form-control" ng-model="search.province" placeholder="province">
    			<optgroup label="ภาคกลาง">
					<option>กรุงเทพมหานครฯ - Bangkok</option>
					<option>กาญจนบุรี - Kanchanaburi</option>
					<option>จันทบุรี - Chanthaburi</option>
					<option>ฉะเชิงเทรา - Chachoengsao</option>
					<option>ชลบุรี - Chon Buri</option>
					<option>ชัยนาท - Chai Nat</option>
					<option>ตราด	Trat</option>
					<option>นครนายก - Nakhon Nayok</option>
					<option>นครปฐม - Nakhon Pathom</option>
					<option>นนทบุรี - Nonthaburi</option>
					<option>ปทุมธานี - Pathum Thani</option>
					<option>ประจวบคีรีขันธ์ - Prachuap Khiri Khan</option>
					<option>ปราจีนบุรี - Prachin Buri</option>
					<option>พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya</option>
					<option>เพชรบุรี - Phetchaburi</option>
					<option>ระยอง - Rayong</option>
					<option>ราชบุรี - Ratchaburi</option>
					<option>ลพบุรี	Lop Buri</option>
					<option>สมุทรปราการ	Samut Prakan</option>
					<option>สมุทรสงคราม - Samut Songkhram</option>
					<option>สมุทรสาคร - Samut Sakhon</option>
					<option>สระบุรี - Saraburi</option>
					<option>สิงห์บุรี - Sing Buri</option>
					<option>สุพรรณบุรี - Suphan Buri</option>
					<option>อ่างทอง - Ang Thong</option>
					<option>สระแก้ว - Sa Kaeo</option>
				</optgroup>
				<optgroup label="ภาคเหนือ">
					<option>กำแพงเพชร - Kamphaeng Phet</option>
					<option>เชียงราย -	Chiang Rai</option>
					<option>เชียงใหม่ - Chiang Mai</option>
					<option>ตาก - Tak</option>
					<option>นครสวรรค์ - Nakhon Sawan</option>
					<option>น่าน - Nan</option>
					<option>พิจิตร - Phichit</option>
					<option>พิษณุโลก - Phitsanulok</option>
					<option>เพชรบูรณ์ - Phetchabun</option>
					<option>แพร่ - Phrae</option>
					<option>แม่ฮ่องสอน - Mae Hong Son</option>
					<option>ลำปาง - Lampang</option>
					<option>ลำพูน - Lamphun</option>
					<option>สุโขทัย - Sukhothai</option>
					<option>อุตรดิตถ์ - Uttaradit</option>
					<option>อุทัยธานี	Uthai Thani</option>
					<option>พะเยา - Phayao</option>
				</optgroup>
				<optgroup label="ภาคตะวันออกเฉียงเหนือ">
					<option>จังหวัด	ชื่อภาษาอังกฤษ</option>
					<option>กาฬสินธุ์ - Kalasin</option>
					<option>ขอนแก่น - Khon Kaen</option>
					<option>ชัยภูมิ - Chaiyaphum</option>
					<option>ยโสธร - Yasothon</option>
					<option>นครพนม - Nakhon Phanom</option>
					<option>นครราชสีมา - Nakhon Ratchasima</option>
					<option>บุรีรัมย์ - Buri Ram</option>
					<option>มหาสารคาม - Maha Sarakham</option>
					<option>ร้อยเอ็ด - Roi Et</option>
					<option>เลย - Loei</option>
					<option>ศรีสะเกษ	Si Sa Ket</option>
					<option>สกลนคร - Sakon Nakhon</option>
					<option>สุรินทร์ - Surin</option>
					<option>หนองคาย - Nong Khai</option>
					<option>อุดรธานี - Udon Thani</option>
					<option>อุบลราชธานี - Ubon Ratchathani</option>
					<option>มุกดาหาร - Mukdahan</option>
					<option>อำนาจเจริญ - Amnat Charoen</option>
					<option>หนองบัวลำภู - Nong Bua Lam Phu</option>
				</optgroup>
				<optgroup label="ภาคใต้">
					<option>กระบี่ - Krabi</option>
					<option>ชุมพร	Chumphon</option>
					<option>ตรัง - Trang</option>
					<option>นครศรีธรรมราช - Nakhon Si Thammarat</option>
					<option>นราธิวาส - Narathiwat</option>
					<option>ปัตตานี - Pattani</option>
					<option>พังงา - Phangnga</option>
					<option>พัทลุง - Phatthalung</option>
					<option>ภูเก็ต - Phuket</option>
					<option>ยะลา - Yala</option>
					<option>ระนอง - Ranong</option>
					<option>สงขลา - Songkhla</option>
					<option>สตูล - Satun</option>
					<option>สุราษฎร์ธานี - Surat Thani</option>
				</optgroup>
			</select>
			
		</section>

		</div>
		<!-- <div class="row">
		<section class="col-sm-6 col-md-4">
		 	<div id="imaginary-container typeahead-demo">	
					<div class="input-group stylish-input-group">

		                <input type="text" class="form-control"  translate-attr="{ placeholder : 'FORM.PLACEHOLD.SEARCHBOX' }" name="text" 
		                ng-model="vm.key"                 
		                typeahead-loading="loadingSearch"
		                typeahead-no-results="noResults"                
		                typeahead-editable="false"
		                typeahead-min-length="2"
		                ng-model-options="{getterSetter: true}"
		                typeahead-select-on-blur="true"                
		                typeahead-wait-ms="300"                
		                ng-keyup="$event.keyCode == 13 && vm.onSubmit()"
		                uib-typeahead="key as key.shortDescription for key in vm.data.coach | filter:$viewValue">
		                <span class="input-group-addon">
		                    <a class="button" type="button" ui-sref="coachDetail({coachid : vm.key._id})">
		                        <span class="icon ion-ios-search"></span>
		                    </a>  
		                </span>
             		</div>
            		<i ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>
            		<div ng-show="noResults">
                		<i class="glyphicon glyphicon-remove"></i> No Results Found
           		    </div>     
     		</div>  
		</div>
		<div class="row">
	        <div class="col-sm-6 col-sm-offset-3">            
	            <div class="imaginary-container">
	                <div class="dropdown dropdown-menu-left">
	                  <button class="btn btn-default dropdown-toggle" type="button" id="browseCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: block">
	                    Browse by Category
	                    <span class="caret"></span>
	                  </button>
	                  <ul class="dropdown-menu" aria-labelledby="browseCat" >
	                    <li><a ng-repeat="cat in vm.data.cat | orderBy: 'category' |limitTo:vm.limit track by $index " ng-click="vm.addModel(cat.category)">{{cat.category}}</a></li> 
	                  </ul>
	                </div>
	            </div>
	        </div>
   	    
		</section>
		</div> -->
		
		<div class="row">
			<section class="col-sm-6 col-md-4">
		 		<div id="imaginary-container typeahead-demo">
		 			<label for="keyword">{{'FORM.LABEL.KEYWORD' | translate}}</label>
					<div class="input-group stylish-input-group">
						<input type="text" ng-model="keyword" class="form-control" translate-attr="{ placeholder : 'FORM.PLACEHOLD.KEYWORD' }"
						aria-label="filter coaches">
						<span class="input-group-addon">
						<a class="clear" ng-click="keyword = ''">
							<span class="glyphicon glyphicon-remove"></span>
						</a></span>
		            </div>
		        </div>
		    </section>
		</div>

		<section class="col-xs-12 col-sm-12 col-md-12">
			<article class="search-result row" dir-paginate="coach in vm.data.coach | filter:keyword | itemsPerPage: 8 track by $index">
				<div class="col-xs-12 col-sm-12 col-md-3"  >
					<a ui-sref="coachDetail({coachid : coach._id})" title={{coach.name}} class="thumbnail" target="_blank">
					<img ng-src={{coach.imageUrl}} aria-labelledby={{coach.name}}></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="meta-search">
						<li><i class="glyphicon glyphicon-user"></i> <span>{{ coach.name }}</span></li>
						<li><i class="glyphicon glyphicon-education"></i> <span>{{ coach.subject }}</span></li>
						<li><i class="glyphicon glyphicon-pencil"></i> <span>{{ coach.courseLength }} {{"FORM.TEXT.HOURS" | translate}}</span></li>
						<li><i class="glyphicon glyphicon-home"></i> <span>{{ coach.province }}</span></li>
						<li><span uib-rating ng-model="coach.rating" max="5" read-only=true aria-labelledby="rating" id="rating"></span></li>
						<!-- <li><i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
					<!-- <h3><a ui-sref="coachDetail({coachid : coach._id})" target="_blank">{{ coach.shortDescription }}</a></h3> -->
					<h3><a ui-sref="coachDetail({coachid : coach._id})" target="_blank">{{ coach.shortDescription }}</a></h3>
					<p>{{ coach.courseDescription }}</p>						
	               <!--  <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span> -->
				</div>
				<span class="clearfix borda"></span>
				<hr>
			</article>
			<dir-pagination-controls></dir-pagination-controls>

	        			

		</section>
	</div>
<footer-generic></footer-generic>