<navigation></navigation>
<div class="container clear-fix" >
	
	    <hgroup class="mb20">
			<h1>Search Results</h1>
			<h2 class="lead"><strong class="text-danger">{{vm.count}}</strong> Results found for the search for <strong class="text-danger">{{vm.text}}</strong></h2>								
		</hgroup>
	    <section class="col-sm-6 col-md-4">
	    	<label for="province">{{'FORM.LABEL.PROVINCE' | translate}}</label>
	    	<select class="form-control" ng-model="search.province" placeholder="provice">
    			<optgroup label="ภาคกลาง">
					<option>กรุงเทพมหานครฯ - Bangkok</option>
					<option>กาญจนบุรี - Kanchanaburi</option>
					<option>จันทบุรี - Chanthaburi</option>
					<option>ฉะเชิงเทรา - Chachoengsao</option>
					<option>ชลบุรี - Chon Buri</option>
					<option>ชัยนาท - Chai Nat</option>
					<option>ตราด	Trat</option>
					<option>นครนายก - Nakhon Nayok</option>
					<option>นครปฐม - Nakhon Pathom</option>
					<option>นนทบุรี - Nonthaburi</option>
					<option>ปทุมธานี - Pathum Thani</option>
					<option>ประจวบคีรีขันธ์ - Prachuap Khiri Khan</option>
					<option>ปราจีนบุรี - Prachin Buri</option>
					<option>พระนครศรีอยุธยา - Phra Nakhon Si Ayutthaya</option>
					<option>เพชรบุรี - Phetchaburi</option>
					<option>ระยอง - Rayong</option>
					<option>ราชบุรี - Ratchaburi</option>
					<option>ลพบุรี	Lop Buri</option>
					<option>สมุทรปราการ	Samut Prakan</option>
					<option>สมุทรสงคราม - Samut Songkhram</option>
					<option>สมุทรสาคร - Samut Sakhon</option>
					<option>สระบุรี - Saraburi</option>
					<option>สิงห์บุรี - Sing Buri</option>
					<option>สุพรรณบุรี - Suphan Buri</option>
					<option>อ่างทอง - Ang Thong</option>
					<option>สระแก้ว - Sa Kaeo</option>
				</optgroup>
				<optgroup label="ภาคเหนือ">
					<option>กำแพงเพชร - Kamphaeng Phet</option>
					<option>เชียงราย -	Chiang Rai</option>
					<option>เชียงใหม่ - Chiang Mai</option>
					<option>ตาก - Tak</option>
					<option>นครสวรรค์ - Nakhon Sawan</option>
					<option>น่าน - Nan</option>
					<option>พิจิตร - Phichit</option>
					<option>พิษณุโลก - Phitsanulok</option>
					<option>เพชรบูรณ์ - Phetchabun</option>
					<option>แพร่ - Phrae</option>
					<option>แม่ฮ่องสอน - Mae Hong Son</option>
					<option>ลำปาง - Lampang</option>
					<option>ลำพูน - Lamphun</option>
					<option>สุโขทัย - Sukhothai</option>
					<option>อุตรดิตถ์ - Uttaradit</option>
					<option>อุทัยธานี	Uthai Thani</option>
					<option>พะเยา - Phayao</option>
				</optgroup>
				<optgroup label="ภาคตะวันออกเฉียงเหนือ">
					<option>จังหวัด	ชื่อภาษาอังกฤษ
					<option>กาฬสินธุ์ - Kalasin</option>
					<option>ขอนแก่น - Khon Kaen</option>
					<option>ชัยภูมิ - Chaiyaphum</option>
					<option>ยโสธร - Yasothon</option>
					<option>นครพนม - Nakhon Phanom</option>
					<option>นครราชสีมา - Nakhon Ratchasima</option>
					<option>บุรีรัมย์ - Buri Ram</option>
					<option>มหาสารคาม - Maha Sarakham</option>
					<option>ร้อยเอ็ด - Roi Et</option>
					<option>เลย - Loei</option>
					<option>ศรีสะเกษ	Si Sa Ket</option>
					<option>สกลนคร - Sakon Nakhon</option>
					<option>สุรินทร์ - Surin</option>
					<option>หนองคาย - Nong Khai</option>
					<option>อุดรธานี - Udon Thani</option>
					<option>อุบลราชธานี - Ubon Ratchathani</option>
					<option>มุกดาหาร - Mukdahan</option>
					<option>อำนาจเจริญ - Amnat Charoen</option>
					<option>หนองบัวลำภู - Nong Bua Lam Phu</option>
				</optgroup>
				<optgroup label="ภาคใต้">
					<option>กระบี่ - Krabi</option>
					<option>ชุมพร	Chumphon</option>
					<option>ตรัง - Trang</option>
					<option>นครศรีธรรมราช - Nakhon Si Thammarat</option>
					<option>นราธิวาส - Narathiwat</option>
					<option>ปัตตานี - Pattani</option>
					<option>พังงา - Phangnga</option>
					<option>พัทลุง - Phatthalung</option>
					<option>ภูเก็ต - Phuket</option>
					<option>ยะลา - Yala</option>
					<option>ระนอง - Ranong</option>
					<option>สงขลา - Songkhla</option>
					<option>สตูล - Satun</option>
					<option>สุราษฎร์ธานี - Surat Thani</option>
				</optgroup>
			</select>
		</section>
		<section class="col-xs-12 col-sm-12 col-md-12">
			<article class="search-result row" ng-repeat="coach in vm.data.coach | filter:search">
				<div class="col-xs-12 col-sm-12 col-md-3"  >
					<a ui-sref="coachDetail({coachid : coach._id})" title={{coach.name}} class="thumbnail">
					<img ng-src={{coach.imageUrl}} alt={{coach.name}}></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="meta-search">
						<li><i class="glyphicon glyphicon-user"></i> <span>{{ coach.name }}</span></li>
						<li><i class="glyphicon glyphicon-education"></i> <span>{{ coach.subject }}</span></li>
						<li><i class="glyphicon glyphicon-pencil"></i> <span>{{ coach.courseLength }} hours</span></li>
						<li><i class="glyphicon glyphicon-home"></i> <span>{{ coach.province }}</span></li>
						<!-- <li><i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
					<h3><a ui-sref="coachDetail({coachid : coach._id})" title="">{{ coach.shortDescription }}</a></h3>
					<h4>{{ coach.courseDescription }}</h4>						
	               <!--  <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span> -->
				</div>
				<span class="clearfix borda"></span>
			</article>

	        			

		</section>
	</div>
<footer-generic></footer-generic>