
/*profile-widget*/

.profile-widget {    
    color: #fff;
    text-align: center;    
}

/*weather*/

/*.weather-bg {
    background: #34AADC;    
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.weather-bg i {
    font-size: 60px;
    display: block;
}
.weather-bg h3{
    font-weight: 300;
    font-size: 28px;
}
.weather-bg .degree {
    padding-top: 10px;
    font-size: 60px;
}
*/
.weather-category {
    padding: 15px 0;
    color: #ffffff;    
}
.weather-info{
    background: #34AADC;
}

.weather-category ul {
    padding:0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.weather-category ul   {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    border-top:1px solid #e6e6e6 ;
    border-left:1px solid #e6e6e6 ;
    border-right:1px solid #e6e6e6 ;
    border-bottom:1px solid #e6e6e6 ;
    display: inline-block;
}
.weather-category ul  li {
    display: inline-block;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
   
    
    display: inline-block;
}
.weather-category ul li i  {
    margin-bottom:10px;
}
.weather-category ul li h4 {
    margin: 10px 0 0 0 ;
    text-transform: uppercase;
    font-weight: 300;
}
/*
.weather-days{    
    color: #ffffff;
    background: #34AADC;
}

.weather-days ul {
    padding:0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.weather-days ul li {
    display: inline-block;
    width: 16.6%;
    text-align: center;
    display: inline-block;
    margin-right: -2.9px;
    padding: 5px 0px;
}
.weather-days ul li.day1{
    background: rgba(0,0,0,0.05);
}
.weather-days ul li.day2{
    background: rgba(0,0,0,0.1);
}
.weather-days ul li.day3{
    background: rgba(0,0,0,0.15);
}
.weather-days ul li.day4{
    background: rgba(0,0,0,0.2);
}
.weather-days ul li.day5{
    background: rgba(0,0,0,0.25);
}
.weather-days ul li.day6{
    background: rgba(0,0,0,0.3);
}

.weather-days ul li h5 {
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 300;
}
*/
.weather-category ul li a {

}

.weather-category ul li:last-child,.weather-days ul li:last-child  {
    border-right:none ;
}
/*weather widget 2*/
/*.weather-bg-img {
    background: url(../img/backgrounds/bg-14-small.jpg) no-repeat center center;    
    color: #fff;
    text-shadow: 0px 1px 5px #fed189;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.weather-bg-img i {
    font-size: 60px;
    text-shadow: 0px 1px 5px #fed189;
    display: block;
}
.weather-bg-img h3{
    font-weight: 300;
    font-size: 28px;
}
.weather-bg-img .degree {
    padding-top: 10px;
    font-size: 60px;
}

.weather-bg-img .weather-category {
    padding: 15px 0;
    color: #ffffff;
    text-shadow: 0px 1px 5px #fed189;
    background: transparent;
}

.weather-bg-img .weather-category ul {
    padding:0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.weather-bg-img .weather-category ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
    border-right:1px solid #e6e6e6 ;
    display: inline-block;
}

.weather-bg-img .weather-category ul li h5 {
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 1px 5px #fed189;
}
.weather-bg-img .panel-body, footer.weather-bg-img ul{
    background: rgba(0,0,0,0.5);
}
.weather-days-img{
    color: #ffffff;
    text-shadow: 0px 1px 5px #fed189;
}
.weather-days-img{
    background: transparent !important;
}

*/

/*profile-widget image bg*/
/*.profile-widget-img{
    background: url('../img/backgrounds/bg-11-small.jpg') no-repeat !important;    
}
.profile-nav .profile-widget-img .bg-layer {
    background: rgba(0,0,0,0.5) !important;
}
.profile-widget-img .panel-body{
    background: rgba(0,0,0,0.5) !important;
}
.profile-widget-img .profile-widget-foot{
    background: rgba(0,0,0,0.8);
}*/
.profile-widget p{
    font-weight: 300;
    /*margin-bottom: 15px;*/
}
.profile-widget{
    /*padding-left: 20px 15px 30px 15px;*/
}
/*
.profile-widget .twt-category{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    padding: 0px;
}
.profile-widget .twt-category ul li{
    color: #ffffff;
}
.knob-charts{
    margin-top: 10px;

}
.follow-task{
    padding: 5px;
}
.follow-task a{
    color: #ffffff;
    width: 15%;
    display: inline-block;            
}
.follow-task a span.badge{
    top: -12px;
    position: relative;
    left: -8px;
    background: #FFFFFF;
    color: #34AADC;

}
.follow-task i{
    font-size: 20px;
}
.profile-widget-foot {
    padding: 8px 5px 5px 5px;
    background: rgba(0,0,0,0.1);
    color: #757575;    
    font-weight: 300;
}*/
.profile-foot {
    padding: 8px 5px 5px 5px;
    background: rgba(0,0,0,0.1);
    color: #ffffff;
    font-weight: 300;
    overflow: hidden;
}
.profile-foot .active{

}
.profile-foot a{
    color: #ffffff;
}
.profile-widget-foot ul {
    padding: 0;
    margin: 0;
}
.profile-widget-foot ul li{
    display: inline-block;
    text-align: center;
    width: 48%;
    line-height: normal;
}

.profile-widget-foot ul li h5{
    margin: 5px 0 0 0;
}
.follow-info{
    text-align: left;
    padding-top: 20px;
	padding-bottom: 10px;

	
}
.profile-widget h4 {
    margin: 5px;
    font-size: 18px;
    font-weight: 300;
}
.profile-widget h6 {
    margin: 0px;
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
}
.profile-widget h6 span i{
    padding-right: 4px;
}
.profile-widget h6 span{
    padding-right: 8px;
}

.project-team, .panel-title,.progress-panel{
    background: #F7F7F7;
}
.profile-ava img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #688a7e;
    display: inline-block;
}
.profile-ava img.simple{
    border-radius: 50%;
    -webkit-border-radius: 50%;    
    border: 2px solid rgba(0,112,255,0.4);
    display: inline-block;
}
.profile-name{
    margin: 0px;
    font-size: 16px;
}
.profile-occupation{
    margin: 0px;
    font-size: 12px;
}
.follow-ava {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    display: inline-block;
}
.timeline-ava {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #688a7e;
    display: inline-block;
}
.timeline-ava img{
    border-radius: 50%;
   -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile-widget img {
   border-radius: 50%;
   -webkit-border-radius: 50%;
    width: 80px;
    height: 80px;
    /*display: inline-block;*/
}

/*Panel*/
.panel .panel-body {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}

/*Follow*/
.follow-info{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;   
}

.follow-ava {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    display: inline-block;
}
@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

/*profile*/
/*
.profile-nav .user-heading {
    background: #688a7e;
    color: #fff;    
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(256,256,256,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
    background: #f8f7f5 !important;
    border-left: 5px solid #688a7e;
    color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}

.r-activity {
    margin: 6px 0 0;
    font-size: 12px;
}*/
/*profile-widget color bg*/
.profile-widget-info{
    background: #324c57 !important;
}
.profile-widget-success{
    background: #4cd964 !important;
}
.profile-widget-primary{
    background: #688a7e !important;
}
.profile-widget-warning{
    background: #ffcc00 !important;
}
.profile-widget-danger{
    background: #00a0df !important;
}
.profile-widget-name{
    padding: 0px;
}

.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}

.profile-info .panel-footer {
    background-color:#f8f7f5 ;
    border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}



.profile-activity:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    top: 0;
    width: 2px;
}


.bio-graph-heading {
    background: #263a4f;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 40px 110px;
    
    font-size: 16px;
    font-weight: 300;
}

.bio-graph-info {
    color: #89817e;
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}

.bio-chart, .bio-desk {
    float: left;
}

.bio-chart {
    width: 40%;
}

.bio-desk {
    width: 60%;
}

.bio-desk h4 {
    font-size: 15px;
    font-weight:400;
}

.bio-desk h4.terques {
    color: #34aadc;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}
/*.profile-activity:before, .act-time:before, .act-time .text:before {
    content: "";
    left: 60px;
    position: absolute;
    top: -2px;
}*/
.profile-activity, .act-time , .profile-activity .act-in, .profile-activity .act-out {
    position: relative;
}


.profile-activity .act-in  .arrow {
    /*border-right: 8px solid #F4F4F4 !important;*/
}
.profile-activity .act-in .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}

.profile-activity .act-out  .arrow {
    /*border-right: 8px solid #34aadc !important;*/
}
.profile-activity .act-out .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -8px;
    position: absolute;
    top: 13px;
    width: 0;
}
/*
.messages-wrapper {
  position: relative;
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 5px 20px;
    position: relative;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}*/

/*custom select*/

span.customSelect {
    font-size:12px;
    background-color: #ffffff;
    padding:10px;
    border:1px solid #EAEAEA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #A4AABA;
}
span.customSelect.changed {
    background-color: #fff;
}
.customSelectInner {
    background:url(../img/customSelect-arrow.gif) no-repeat center right;
}
