.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}
#filter {margin-left: 4px;}
#facility {margin-right: 4px;}


/*Search box*/
#imaginary-container{
	margin-bottom: 30px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }


/*NAVBAR*/
#navbar-main{
	margin-bottom: 50px;
}

/*ngMessages*/
.help-block {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}



/*ngAnimate*/

/*.scrolled { */ 
    /*&.ng-enter {
        -webkit-animation:slideOutLeft 0.5s both ease-in;
		-moz-animation:slideOutLeft 0.5s both ease-in;
		animation:slideOutLeft 0.5s both ease-in;   
    }*/
 
    /* end 'enter' transition */
   /* &.ng-enter-active {
        -webkit-animation:slideOutLeft 0.5s both ease-in;
		-moz-animation:slideOutLeft 0.5s both ease-in;
		animation:slideOutLeft 0.5s both ease-in;   
    }
}*/

/* slide in from the bottom */
/*@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}
*/