.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}
#filter {margin-left: 4px;}
#facility {margin-right: 4px;}


/*Search box*/
#imaginary-container{
	margin-bottom: 30px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }


/*NAVBAR*/
#navbar-main{
	margin-bottom: 50px;
}

/*ngMessages*/
.help-block {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


/*ID card-Criminal check\*/
.checked {
  color: #79FE2C;
}

/*ngAnimate*/

/*.scrolled { */ 
    /*&.ng-enter {
        -webkit-animation:slideOutLeft 0.5s both ease-in;
		-moz-animation:slideOutLeft 0.5s both ease-in;
		animation:slideOutLeft 0.5s both ease-in;   
    }*/
 
    /* end 'enter' transition */
   /* &.ng-enter-active {
        -webkit-animation:slideOutLeft 0.5s both ease-in;
		-moz-animation:slideOutLeft 0.5s both ease-in;
		animation:slideOutLeft 0.5s both ease-in;   
    }
}*/

/* slide in from the bottom */
/*@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}
*/


/*Profile*/
/* Profile container */
/*.profile-body {
  background: #F1F3FA;
}

.profile-body h1 {
  margin-top: 10px;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */

./*profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
/*.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}*/

/*Become a coach*/


.work-step  {
  font-size: 60px;

}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 10px;
    
}

.steps-box:last-child {
    padding-left: 3%;
    /*margin-top: 70px;*/
    font-size: 130%;
}
.app-screen {
    width: 90%;
    
}

.work-step h4 {
  padding-top: 10px;
  font-size: 22px;
}
.work-step {
    margin-top: 30px;
    margin-bottom: 50px;
}

.work-step:last-of-type {
    margin-bottom: 80px;
}

.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 20px;
    margin-right: 25px;
}