<navigation></navigation>
	<div class="container clear-fix">
	
	    <hgroup class="mb20">
			<h1><a ui-sref="userDetail({userid: vm.data.coach.createdBy })">{{ vm.data.coach.name }}</a></h1>
			<h2 class="lead">{{ vm.data.coach.subject }}</h2>								
		</hgroup>
		
	    <section class="col-xs-12 col-sm-12 col-md-12">
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-6"  ng-model="vdo">
					<a href="#" title="youtube" class="thumbnail">
						<ng-if="!!vdo" youtube-video video-id="videoid" player-vars="playerVars"
						player-width="'100%'" player-height="'100%'">
						</youtube-video>
						<ng-if="!vdo" youtube-video video-id="io7ZXGdXieI" player-vars="playerVars"
						player-width="'100%'" player-height="'100%'">
						</youtube-video>
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3">
					<ul class="meta-search">
						<li><i class="glyphicon glyphicon-user"></i> <span>
						<a ui-sref="userDetail({userid: vm.data.coach.createdBy })">{{ vm.data.coach.name }}</a></span></li>
						<li><i class="glyphicon glyphicon-education"></i> <span>{{ vm.data.coach.category }}</span></li>
						<li><i class="glyphicon glyphicon-pencil"></i> <span>{{ vm.data.coach.courseLength }} {{"FORM.TEXT.HOURS" | translate}}</span></li>
						<!-- <li><i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</li> -->
					</ul>
				</div>
			</article>
				
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-5">
					<div class="row">
						<div class="col-xs-12">
							<a ui-sref="userDetail({userid: vm.data.coach.createdBy })">
							<img ng-src="{{vm.data.coach.imageUrl}}" class="image-responsive" alt={{coach.name}} /></a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
						<button type="button" class="btn btn-primary btn-lg"><a ng-click="vm.popupRequestForm()" style="color: white;">
							{{'FORM.LABEL.REQUEST' | translate}}</a>
						</button>
						</div>

					</div>			
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
					<h4 class="lead">{{"FORM.LABEL.DESCRIPTION" | translate}}: </h4>
					<p>{{ vm.data.coach.courseDescription }}</p>
					<h4 class="lead">{{"FORM.LABEL.PREPARATION" | translate}}: </h4>
					<p>{{ vm.data.coach.preparation }}</p>
					<h4 class="lead">{{"FORM.LABEL.GROUP" | translate}}: </h4>				
	                <p>{{ vm.data.coach.group }}</p>
	                <h4 class="lead">{{"FORM.LABEL.TIME" | translate}}: </h4>
	                <p>{{ vm.data.coach.time }}</p>
	                <h4 class="lead">{{"FORM.LABEL.LOCATION" | translate}}: </h4>
	                <p>{{ vm.data.coach.location }}</p>
	                <h4 class="lead">{{"FORM.LABEL.LEVEL" | translate}}: </h4>
	                <p>{{ vm.data.coach.level }}</p>
	                <h4 class="lead">{{"FORM.LABEL.LENGTH" | translate}}: </h4>
	                <p>{{ vm.data.coach.courseLength }} {{"FORM.TEXT.HOURS" | translate}}</p>
	                <h4 class="lead">{{"FORM.LABEL.PRICE_PER_HOUR" | translate}}: </h4>
	                <h3 class="text-info"> <a ng-click="vm.popupRequestForm()">{{ vm.data.coach.price / vm.data.coach.courseLength | number : 0 }} {{"FORM.TEXT.BAHT" | translate}} / {{"FORM.TEXT.HOURS" | translate}}</a></h3>
	                <h6 class="text-muted">{{"FORM.LABEL.PRICE" | translate }}: {{ vm.data.coach.price }} {{"FORM.TEXT.BAHT" | translate}} </h6>
	                <h4 class="lead">{{"FORM.LABEL.SHARE" | translate}}:</h4>
	                <div>
		                <button class="btn btn-primary btn-sm js-textareacopybtn"  
		                style="margin-bottom: 30px;">Copy</button>
		                <textarea rows="2" cols="40" readonly class="js-copytextarea">https://www.matchthecoach.com/#!/coaches/{{vm.coachid}}</textarea>
	                </div>
	                
				</div>
				<span class="clearfix borda"></span>
			</article>
		</section>
	</div>

<footer-generic></footer-generic>