<div id="footerwrap">
			<div class="container">
				<h4>Created by <a ui-sref="team">Royyak</a> - Copyright 2016</h4>
				<div style="font-size: 30px;">
					<span><a class="icon ion-social-facebook" ng-href="https://www.facebook.com/Matchthecoach-1667805550215363/" target="_blank"></a></span>
					<span><a class="icon ion-social-instagram-outline" ng-href="https://www.instagram.com/matchthecoach/" target="_blank"></a></span>
					<span><a class="icon ion-social-twitter" ng-href="https://twitter.com/mtc_royyak" target="_blank"></a></span>
					<span><a class="icon ion-social-pinterest" ng-href="https://www.pinterest.com/matchthecoach/" target="_blank"></a></span>
				</div>
				<h4><a ng-href="https://line.me/R/ti/p/%40matchthecoach"><img height="36" border="0" aria-labelledby="เพิ่มเพื่อน" ng-src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a></h4>
				<h4>LINE ID : @matchthecoach</h4>
				<h5>E-mail: <a ng-href="mailto:matchthecoach@royyak.com"> matchthecoach@royyak.com</a></h5>
				<h5>{{'FOOTER.ASK' | translate}} :<a ng-href="tel:0955073078"> 095-5073078</a></h5>
				<h5><a ui-sref="team">Our Team</a></h5>
				<h5><a ng-click="$event.stopPropagation()" ng-href="https://www.matchthecoach.com/blog.html">Web Blog</a></h5>
				<h5><a ng-click="$event.stopPropagation()" ng-href="https://www.matchthecoach.com/sitemap.xml">Sitemap</a></h5>
			</div>
</div>
