<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-ex-collapse" uib-collapse="navCollapsed">
          <ul class="nav navbar-nav">
            <li aria-label="Home"> <a href="#home" du-smooth-scroll>Home</a></li>
      			<li aria-label="About"> <a href="#match" offset ="30" du-smooth-scroll> How to</a></li>
      			
      			<li aria-label="Team"> <a href="#team" du-smooth-scroll> Team</a></li>
      			
      			<li aria-label="Contact"> <a href="#contact" du-smooth-scroll> Contact</a></li>
            <li aria-label="Add Coach"><a href="#become" offset="60" du-smooth-scroll>Become a coach</a></li>
      		  </ul>
      		  <ul class="nav navbar-nav navbar-right">
      		  	<li aria-label="Login" ng-if="!lgin.isAuthenticated"><a ng-click="lgin.authService.login()">Sign in</a></li>
              <li ng-if="lgin.isAuthenticated" class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <strong>{{lgin.profile.name}}&nbsp</strong>
                  <img src="{{lgin.profile.picture}}" alt="{{lgin.profile.name}}" height="32" width="32">
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-if="lgin.getSubscription == 'false'" aria-label="Subscription"><a ui-sref="subscription" >Subscription form</a></li>
                    <li ng-if="lgin.getSubscription == 'true'" aria-label="Profile"><a ui-sref="profile.courses" >Profile</a></li>
                    <li aria-label="Log out"><a ng-click="lgin.authService.logout()">Logout</a></li>
                  </ul>
              <!-- <li aria-label="Logout" ng-if="lgin.isAuthenticated"><a ng-click="lgin.authService.logout()">Log Out</a></li> -->
              
              
      		  	
              <!-- <li ng-show="$ctrl.isLoggedIn" class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ $ctrl.nickname }}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="$ctrl.logout()">Logout</a></li>
                  </ul>
              <li> -->
      		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>


  