<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-ex-collapse" uib-collapse="navCollapsed">
          <ul class="nav navbar-nav">
            <li aria-label="Home"> <a href="#home" du-smooth-scroll>Home</a></li>
      			<li aria-label="About"> <a href="#about" du-smooth-scroll> About</a></li>
      			<li aria-label="Service"> <a href="#services" du-smooth-scroll> Services</a></li>
      			<li aria-label="Team"> <a href="#team" du-smooth-scroll> Team</a></li>
      			<li aria-label="Portfolio"> <a href="#portfolio" du-smooth-scroll> Portfolio</a></li>
      			<li aria-label="Blog"> <a href="#blog" du-smooth-scroll> Blog</a></li>
      			<li aria-label="Contact"> <a href="#contact" du-smooth-scroll> Contact</a></li>
      		  </ul>
      		  <ul class="nav navbar-nav navbar-right">
      		  	<li aria-label="Login"><a ng-click="authService.login()">Sign in</a></li>
              <li aria-label="Logout"><a href="#/" ng-click="authService.logout()">Log Out</a></li>
              <li aria-label="Add Coach"><a ui-sref="addCoach" >Add Coach</a></li>
              <li aria-label="Profile"><a ui-sref="profile" >Profile</a></li>
      		  	<li><a href="#signup" class="smoothScroll">Sign up</a></li>
              <li ng-show="$ctrl.isLoggedIn" class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ $ctrl.nickname }}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="$ctrl.logout()">Logout</a></li>
                  </ul>
              <li>
      		  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>


  