<div class="container">
	<div class="row">
	<div id="imaginary-container typeahead-demo">
        <div class="col-sm-6 col-sm-offset-3">	
             <h4 class="text-warning bg-info" translate="HOME.HEADERWRAP.DATA"><h4>    
            <div class="input-group stylish-input-group" ng-submit="vm.onSubmit()">
                <!-- <pre>Model: {{vm.text| json}}</pre> -->
                <input type="text" class="form-control"  translate-attr="{ placeholder : 'FORM.PLACEHOLD.SEARCHBOX' }" name="text" 
                ng-model="vm.text"                 
                typeahead-loading="loadingSearch"
                typeahead-no-results="noResults"                
                typeahead-editable="false"
                typeahead-min-length="2"
                ng-model-options="{getterSetter: true}"
                typeahead-select-on-blur="true"
                typeahead-on-select="vm.onSubmit()"
                
                typeahead-wait-ms="300"                
                ng-keyup="$event.keyCode == 13 && vm.onSubmit()"
                uib-typeahead="search.category as search.category for search in vm.searching($viewValue)">
                <span class="input-group-addon">
                    <button type="button" ng-click="vm.onSubmit()" href="javascript:void(0)">
                        <!-- <a href="/#/coaches"> --><span class="icon ion-ios-search"></span><!-- </a> -->
                    </button>  
                </span>
             </div>                 
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <i ng-show="loadingSearch" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>        
           
     </div>  
	</div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">            
            <div class="imaginary-container">
                <div class="dropdown dropdown-menu-left">
                  <button class="btn btn-default dropdown-toggle" type="button" id="browseCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="display: block">
                    {{'LANDING.BROWSE' | translate}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="browseCat" >
                    <li><a ng-repeat="cat in vm.data.cat | orderBy: 'category' | limitTo:vm.limit track by $index " href="javascript:void(0)" ng-click="vm.addModel(cat.category)">{{cat.category}}</a></li>
                   
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>