<navigation></navigation> 
<section class="container">
  <section id="main-content">
    <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="glyphicon glyphicon-leaf"></i> Profile</h3>
					<ol class="breadcrumb hidden-xs hidden-sm">
						<li><i class="glyphicon glyphicon-home"></i><a ui-sref="/">{{'PROFILE.HOME' | translate}}</a></li>
						<li><i class="glyphicon glyphicon-book"></i><a ui-sref="profile.courses"> {{'PROFILE.COURSE' | translate}}</a></li>
						<li ng-if="user.subscription === true"><i class="glyphicon glyphicon-lock"></i><a ui-sref="profile.edit"> {{'PROFILE.INFO' | translate}}</a></li>
					</ol>
				</div>
			</div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-2 col-sm-2">
                              <h4 style="color: white"><h4>               
                              <div class="follow-ava">
                                  <img ng-src="{{user.profile.picture}}" alt="{{user.profile.name}}">
                              </div>
                              
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info">
                                <blockquote>
                                <p>The only source of knowledge<br>
                                 is experience
                                </p>
                                <footer>Albert Einstein</footer>
                                </blockquote>
                                <p>{{user.result.name}}</p>
								<p><i class="fa fa-twitter"></i></p>
                                <h6>
                                    <span>Since</span>
                                    <span><i class="icon ion-calendar"></i>{{user.result.memberSince | date:'mediumDate'}}</span>
                                    <!-- <span><i class="icon icon_pin_alt"></i>BKK</span> -->
                                </h6>
                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul ng-model="idcheck" ng-class="{'checked': user.result.idcard == true}">
                                        <li class="active"> 
                                          <i class="icon ion-android-person"> </i><br>
                                           <i class="glyphicon glyphicon-ok" ng-if="user.result.idcard == true"></i>
										  											     {{'PROFILE.IDCARD' | translate}}
                                        </li>										   
                                      </ul>
                            </div>
							              <div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul ng-model="criminalcheck" ng-class="{'checked': user.result.criminal == true}">
                                          <li class="active">
                                            <i class="icon ion-ios-paper-outline"> </i>
                                            <i class="glyphicon glyphicon-ok" ng-if="user.result.criminal == true"></i>
                                            <br>	{{'PROFILE.CRIMINAL' | translate}} 
                                          </li>										   
                                      </ul>
                            </div>

						<!-- 	<div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul>
                                          <li class="active">      
                                            <i class="icon ion-android-happy"> </i>				Lorem ipsum: rotundum
                                          </li>										   
                                      </ul>
                            </div> -->
                          </div>
                          <div ng-if="user.result.criminal != true || user.result.idcard != true">
                          <p translate="PROFILE.TEXT-1"></p>
                          <p translate="PROFILE.TEXT-2"></p>
                          </div>
                    </div>
                </div>
              </div>
                                                        
        <ui-view autoscroll="false"></ui-view>
                                    
    </section>
  </section>
</section>
<footer-generic></footer-generic>