<!-- <navigation></navigation> -->
<section class="container">
  <section id="main-content">
    <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="glyphicon glyphicon-leaf"></i> Profile</h3>
					<ol class="breadcrumb hidden-xs hidden-sm">
						<li><i class="glyphicon glyphicon-home"></i><a ui-sref="home"> Home</a></li>
						<li><i class="glyphicon glyphicon-book"></i><a ui-sref="profile.courses"> My Courses</a></li>
						<li><i class="glyphicon glyphicon-user"></i><a ui-sref="profile.edit"> Profile</a></li>
					</ol>
				</div>
			</div>
              <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                          <div class="panel-body">
                            <div class="col-lg-2 col-sm-2">
                              <h4 style="color: white"><h4>               
                              <div class="follow-ava">
                                  <img src="{{user.profile.picture}}" alt="{{user.profile.name}}">
                              </div>
                              <h6>Coach</h6>
                            </div>
                            <div class="col-lg-4 col-sm-4 follow-info">
                                <p>Hello I’m {{result.name}}, a leading expert in coaching and teaching.</p>
                                <p>@{{result.name}}</p>
								<p><i class="fa fa-twitter"></i></p>
                                <h6>
                                    <span>Since</span>
                                    <span><i class="icon ion-calendar"></i>{{result.memberSince | date:'mediumDate'}}</span>
                                    <span><i class="icon icon_pin_alt"></i>BKK</span>
                                </h6>
                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul ng-model="idcheck" ng-class="{'checked': idcheck == true}">
                                        <li class="active"> 
                                          <i class="icon ion-android-person"> </i><br>
										  											     ID card / Passport
                                        </li>										   
                                      </ul>
                            </div>
							              <div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul ng-model="criminalcheck" ng-class="{'checked': criminalcheck == true}">
                                          <li class="active">
                                            <i class="icon ion-ios-paper-outline"> </i>
                                            <br>	Criminal recorded 
                                          </li>										   
                                      </ul>
                            </div>
						<!-- 	<div class="col-lg-2 col-sm-6 follow-info weather-category" style="font-size: 20px;">
                                      <ul>
                                          <li class="active">      
                                            <i class="icon ion-android-happy"> </i>				Lorem ipsum: rotundum
                                          </li>										   
                                      </ul>
                            </div> -->
                          </div>
                    </div>
                </div>
              </div>
                                                        
        <ui-view autoscroll="false"></ui-view>
                                    
    </section>
  </section>
</section>
<!-- <footer-generic></footer-generic> -->