<navigation></navigation>

	<div class="container clear-fix">
	
	
	<div class ="row white centered">

	<h1 style="margin-bottom: 40px">Application form</h1>
	
	<form name="PicForm" enctype="multipart/form-data" role="form"  class="container form-horizontal">
		<div class="form-group" >
				<label for="picture" class="col-xs-3 col-sm-2 control-label">Image</label>
				<div class="col-xs-9 col-sm-10">
					<input type ="file" 
					 ngf-before-model-change="beforeResizingImages($file)"
					 ngf-select="afterResizingImages($file)"
					 ngf-select accept="image/*"
					 ngf-max-size="5MB"
					 ngf-fix-orientation="true" 
					 ngf-model-invalid="errorFile"
					 ngf-resize="{width: 320, height: 240, quality: .8, type: 'image/jpeg', centerCrop: true}" 
					 id="picfile" name="picfile"  ng-model="picfile" class="form-control" 
					 aria-labelledby="picture file" >
					 <br>
					 <spinner name="picturespinner" img-src="image/balls.gif"></spinner alt="spinner">
					 <i ng-show="PicForm.picfile.$error.maxSize">File too large 
          			{{errorFile.size / 5000000|number:5}}MB: max 5M</i>
          			<img ng-show="PicForm.picfile.$valid" ngf-thumbnail="picfile" class="thumb" alt="File to upload">
          			<br> 
          			<button class="btn btn-primary" ng-show="picfile" ng-click="uploadPic(picfile)">Submit</button>
          			<button class="btn btn-default" ng-click="picfile = null" ng-show="picfile">Remove</button>
          			<span class="progress" ng-show="picfile.progress >= 0">
			        <div class="progress-bar" role="progressbar" style="width:{{picfile.progress}}%" 
			            ng-bind="picfile.progress + '%'"></div>
				    </span>
				    <span ng-show="picfile.result">Upload Successful</span>
				    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
				</div>
			</div>
		</form>
		
			<h4 class="text-danger col-xs-9-offset-3 col-sm-10-offset-2"> Please wait picture to<strong> Load</strong> and<strong> Submit</strong> the picture before continue fill in the form.<h4><br>
		
	<form id="addCoach" name="vm.addCoach" role="form" ng-submit="vm.onSubmit()"
	class="container form-horizontal" novalidate>
		<!-- <div class="modal-header">
			
			<h4 id="myModalLabel" class="modal-title">Add your review for {{ vm.locationData.locationName }}</h4>
		</div -->
		<!-- <div class="modal-body">
			<div class="modal-body">
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}
				</div> -->
			
			
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.name.$touched  && vm.addCoach.name.$invalid }">
				<label for="name" class="col-xs-3 col-sm-2 control-label">Name<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input initial-value id="name" name="name" required ng-model="vm.formData.name" class="form-control" placeholder="Your name or nickname" aria-labelledby="name">
					<div class="help-block" ng-messages="vm.addCoach.name.$error" ng-show="vm.addCoach.name.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.subject.$touched  && vm.addCoach.subject.$invalid }">
				<label for="subject" class="col-xs-3 col-sm-2 control-label">Subject<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="subject" name="subject" required ng-model="vm.formData.subject" class="form-control" aria-labelledby="subject">
					<div class="help-block" ng-messages="vm.addCoach.subject.$error" ng-show="vm.addCoach.subject.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.shortDescription.$touched  && vm.addCoach.shortDescription.$invalid }">
				<label for="shortDescription" class="col-xs-3 col-sm-2 control-label">Course name<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="shortDescription" name="shortDescription" required ng-model="vm.formData.shortDescription" class="form-control" placeholder="Course name must be unique in your account" aria-labelledby="Course Description in short">
					<div class="help-block" ng-messages="vm.addCoach.shortDescription.$error" ng-if="vm.addCoach.shortDescription.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.courseDescription.$touched  && vm.addCoach.courseDescription.$invalid}">
				<label for="courseDescription" class="col-xs-3 col-sm-2 control-label">Course Description<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<textarea rows="3" cols="30" id="courseDescription" name="courseDescription" required ng-model="vm.formData.courseDescription" class="form-control" ng-change=""></textarea>
					<div class="help-block" ng-messages="vm.addCoach.courseDescription.$error" ng-if="vm.addCoach.courseDescription.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.location.$touched  && vm.addCoach.location.$invalid }">
				<label for="location" class="col-xs-3 col-sm-2 control-label">Location<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="location" name="location" required ng-model="vm.formData.location" class="form-control" placeholder="City or Province" aria-labelledby="City">
					<div class="help-block" ng-messages="vm.addCoach.location.$error" ng-if="vm.addCoach.location.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.courseLength.$touched  && vm.addCoach.courseLength.$invalid }">
				<label for="courseLength" class="col-xs-3 col-sm-2 control-label">Course Length<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="courseLength" name="courseLength" required ng-model="vm.formData.courseLength" class="form-control" placeholder="hours per course" aria-labelledby="Length of course">
					<div class="help-block" ng-messages="vm.addCoach.courseLength.$error" ng-if="vm.addCoach.courseLength.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.price.$touched  && vm.addCoach.price.$invalid }">
				<label for="price" class="col-xs-3 col-sm-2 control-label">Price<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="price" type="number" name="price" required ng-model="vm.formData.price" class="form-control" placeholder="THB  per course" aria-labelledby="price">
					<div class="help-block" ng-messages="vm.addCoach.price.$error" ng-if="vm.addCoach.price.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="group" class="col-xs-3 col-sm-2 control-label">Group</label>
				<div class="col-xs-9 col-sm-10">
					<input id="group" name="group"  ng-model="vm.formData.group" class="form-control" placeholder="Amount of student" aria-labelledby="Class group">
				</div>
			</div>
			<div class="form-group">
				<label for="time" class="col-xs-3 col-sm-2 control-label">Time<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<input id="time" name="time" ng-model="vm.formData.time" class="form-control" placeholder="Weekday, Sunday, or Any" aria-labelledby="Time of class">
					<div class="help-block" ng-messages="vm.addCoach.time.$error" ng-if="vm.addCoach.time.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="level" class="col-xs-3 col-sm-2 control-label">Level</label>
				<div class="col-xs-9 col-sm-10">
					<input id="level" name="level"  ng-model="vm.formData.level" class="form-control" placeholder="High school, Entrace, Beginner" aria-labelledby="Student level">
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.category.$touched  && vm.addCoach.category.$invalid }">
				<label for="category" class="col-xs-3 col-sm-2 control-label">category<span class="required">*</span></label>
				<div class="col-xs-9 col-sm-10">
					<div class="input-group">
						<input type="text" id="category" name="category" required ng-model="vm.formData.category" ng-change="vm.xxx =vm.formData.category" class="form-control" placeholder="Browse form a list or add a new one if not available" aria-labelledby="category">
						<span class="input-group-addon" style="padding:0 5px;border:0;width:25%;">
								<select class="form-control" ng-model="vm.formData.category"  placeholder="Category" >
								<option>-- choose category --</option>
								<optgroup label="Language">
								<option>English</option>
								<option>Thai</option>
								<option>Deutsch</option>
								<option>Japanese</option>
								<option>français</option>
								</optgroup>
								<optgroup label="Music">
								<option>Piano</option>
								<option>Violin</option>
								<option>Guitar</option>
								<option>Drums</option>
								<option>Bass</option>
								</optgroup>
								<optgroup label="School subject">
								<option>Homework</option>
								<option>Math</option>
								<option>Biology</option>
								<option>Physics</option>
								<option>Chemistry</option>
								</optgroup>
								<optgroup label="Sports">
								<option>Swimming</option>
								<option>Badminton</option>
								<option>Tennis</option>
								<option>Golf</option>
								</optgroup>
								<optgroup label="Programming">
								<option>C, C##</option>
								<option>Website development</option>
								<option>Mobile App development</option>
								<option>React, Redux</option>
								<option>NodeJS</option>
								<option>Python</option>
								</optgroup>
								<optgroup label="Stocks market">
								<option>Techincal</option>
								<option>VI and Financial Analysis</option>
								</optgroup>
								<optgroup label="Research">
								<option>Statistics</option>
								<option>Methdology</option>
								</optgroup>
								</select>
								

								<!-- <div class="btn-group" uib-dropdown>
		    						<button class="btn btn-default" uib-dropdown-toggle type="button" id="category">Category
		    						<span class="caret"></span></button>
		    						<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="category"  ng-model="vm.xxx">
		    							<li role="presentation" class="dropdown-header">Dropdown header 1</li>
			      						<li><a  ng-repeat="cat in vm.data.cat" tabindex="-1" ng-click="vm.addModel(cat.category)">{{cat.category}}</a></li>
			      						
		    						</ul>
		  						</div> -->
						</span>	
					</div>
					<div class="help-block" ng-messages="vm.addCoach.category.$error" ng-if="vm.addCoach.category.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="preparation" class="col-xs-3 col-sm-2 control-label">Preparation</label>
				<div class="col-xs-9 col-sm-10">
					<input id="preparation" name="preparation"  ng-model="vm.formData.preparation" class="form-control" placeholder="book, tools, computer etc.." aria-labelledby="Preparation">
				</div>
			</div>
			
			
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.videoid.$touched  && vm.addCoach.videoid.$invalid }">
				<label for="videoid" class="col-xs-3 col-sm-2 control-label">Video</label>
				<div class="col-xs-9 col-sm-10">
					<input id="videoid" name="videoid"  ng-model="vm.formData.videoid" class="form-control" placeholder="Youtube video ID eg. CYJEsVFs_cc" ng-minlength="11" ng-maxlength="24"
					aria-labelledby="Youtube videoid">
					<div class="help-block" ng-messages="vm.addCoach.videoid.$error" ng-if="vm.addCoach.videoid.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			




			<!-- <div class="form-group">
				<label for="rating" class="col-xs-10 col-sm-2 control-label">Rating
				</label>
				<div class="col-xs-12 col-sm-2">
					<select id="rating" name="rating" ng-model="vm.formData.rating" class="form-control input-sm">
						<option>5</option>
						<option>4</option>
						<option>3</option>
						<option>2</option>
						<option>1</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="review" class="col-sm-2 control-label">Review</label>
				<div class="col-sm-10">
					<textarea id="review" name="review" rows="5" required="required" ng-model="vm.formData.reviewText" class="form-control"></textarea>
				</div>
			</div> -->
		<!-- </div> -->
		<div class="modal-footer" style="background-color: white">
			
			<button type="reset" ng-click="vm.resetForm()" class="btn btn-default">Cancel</button>
			<button ng-click="vm.onSubmit()" ng-disabled="vm.isDisabled" type="button" class="btn btn-primary">Submit</button>
		</div>
	</form>


		
		
	

		<div ng-show="vm.message.success">
			<button class="btn btn-success btn-block">Coach Successfully added!
			</button>
		</div>
		<div  ng-show="vm.formError">
			<button class="btn btn-danger btn-block">{{ vm.formError }}
			</button>
		</div>
	</div>
	</div>
	
<footer-generic></footer-generic>