<navigation></navigation>

	<div class="container clear-fix">
	
	
	<div class ="row white centered">
	<form id="addCoach" name="vm.addCoach" role="form" ng-submit="vm.onSubmit()"
	class="container form-horizontal" novalidate>
		<!-- <div class="modal-header">
			
			<h4 id="myModalLabel" class="modal-title">Add your review for {{ vm.locationData.locationName }}</h4>
		</div -->
		<!-- <div class="modal-body">
			<div class="modal-body">
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}
				</div> -->
			<h1 style="margin-bottom: 40px">Application form</h1>
			
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.name.$touched  && vm.addCoach.name.$invalid }">
				<label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
				<div class="col-xs-8 col-sm-10">
					<input id="name" name="name" required ng-model="vm.formData.name" class="form-control">
					<div class="help-block" ng-messages="vm.addCoach.name.$error" ng-show="vm.addCoach.name.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.subject.$touched  && vm.ddCoach.subject.$invalid }">
				<label for="subject" class="col-xs-2 col-sm-2 control-label">Subject</label>
				<div class="col-xs-8 col-sm-10">
					<input id="subject" name="subject" required ng-model="vm.formData.subject" class="form-control">
					<div class="help-block" ng-messages="vm.addCoach.subject.$error" ng-show="vm.addCoach.subject.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.shortDescription.$touched  && vm.addCoach.shortDescription.$invalid }">
				<label for="shortDescription" class="col-xs-2 col-sm-2 control-label">Course name</label>
				<div class="col-xs-8 col-sm-10">
					<input id="shortDescription" name="shortDescription" required ng-model="vm.formData.shortDescription" class="form-control" placeholder="English for TOEFL">
					<div class="help-block" ng-messages="vm.addCoach.shortDescription.$error" ng-if="vm.addCoach.shortDescription.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.courseDescription.$touched  && vm.addCoach.courseDescription.$invalid }">
				<label for="courseDescription" class="col-xs-2 col-sm-2 control-label">Course Description</label>
				<div class="col-xs-8 col-sm-10">
					<textarea rows="3" cols="30" id="courseDescription" name="courseDescription" required ng-model="vm.formData.courseDescription" class="form-control"></textarea>
					<div class="help-block" ng-messages="vm.addCoach.courseDescription.$error" ng-if="vm.addCoach.courseDescription.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.location.$touched  && vm.addCoach.location.$invalid }">
				<label for="location" class="col-xs-2 col-sm-2 control-label">Location</label>
				<div class="col-xs-8 col-sm-10">
					<input id="location" name="location" required ng-model="vm.formData.location" class="form-control" placeholder="City or Province">
					<div class="help-block" ng-messages="vm.addCoach.location.$error" ng-if="vm.addCoach.location.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.courseLength.$touched  && vm.addCoach.courseLength.$invalid }">
				<label for="courseLength" class="col-xs-2 col-sm-2 control-label">Course Length</label>
				<div class="col-xs-8 col-sm-10">
					<input id="courseLength" name="courseLength" required ng-model="vm.formData.courseLength" class="form-control" placeholder="hours per course">
					<div class="help-block" ng-messages="vm.addCoach.courseLength.$error" ng-if="vm.addCoach.courseLength.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.price.$touched  && vm.addCoach.price.$invalid }">
				<label for="price" class="col-xs-2 col-sm-2 control-label">Price</label>
				<div class="col-xs-8 col-sm-10">
					<input id="price" type="number" name="price" required ng-model="vm.formData.price" class="form-control" placeholder="THB  per course">
					<div class="help-block" ng-messages="vm.addCoach.price.$error" ng-if="vm.addCoach.price.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="group" class="col-xs-2 col-sm-2 control-label">Group</label>
				<div class="col-xs-8 col-sm-10">
					<input id="group" name="group"  ng-model="vm.formData.group" class="form-control" placeholder="Amount of student">
				</div>
			</div>
			<div class="form-group">
				<label for="time" class="col-xs-2 col-sm-2 control-label">Time</label>
				<div class="col-xs-8 col-sm-10">
					<input id="time" name="time" ng-model="vm.formData.time" class="form-control" placeholder="Weekday, Sunday, or Any">
				</div>
			</div>
			
			<div class="form-group">
				<label for="level" class="col-xs-2 col-sm-2 control-label">Level</label>
				<div class="col-xs-8 col-sm-10">
					<input id="level" name="level"  ng-model="vm.formData.level" class="form-control" placeholder="High school, Entrace, Beginner">
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': vm.addCoach.category.$touched  && vm.addCoach.category.$invalid }">
				<label for="category" class="col-xs-2 col-sm-2 control-label">category</label>
				<div class="col-xs-8 col-sm-10">
					<input type="text" id="category" name="category" required ng-model="vm.formData.category" class="form-control">
					<div class="help-block" ng-messages="vm.addCoach.category.$error" ng-if="vm.addCoach.category.$touched">
					    <div ng-messages-include="/common/addCoach/messages.html"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="preparation" class="col-xs-2 col-sm-2 control-label">Preparation</label>
				<div class="col-xs-8 col-sm-10">
					<input id="preparation" name="preparation"  ng-model="vm.formData.preparation" class="form-control" placeholder="book, tools, computer etc..">
				</div>
			</div>
			<div class="form-group">
				<label for="picture" class="col-xs-2 col-sm-2 control-label">Picture</label>
				<div class="col-xs-8 col-sm-10">
					<input type ="file" ngf-select accept="image/*"
					 ngf-max-size="1MB" ngf-model-invalid="errorFile" 
					 id="picture" name="picture"  ng-model="vm.formData.picture" class="form-control" placeholder="Your picture here">
					 <i ng-show="myForm.file.$error.maxSize">File too large 
          			{{errorFile.size / 1000000|number:1}}MB: max 1M</i>
          			<img ng-show="myForm.file.$valid" ngf-thumbnail="vm.formData.picture" class="thumb"> <button ng-click="vm.formData.picture = null" ng-show="vm.formData.picture">Remove</button>
          			<span class="progress" ng-show="vm.formData.picture.progress >= 0">
			        <div style="width:{{picFile.progress}}%" 
			            ng-bind="vm.formData.picture.progress + '%'"></div>
				    </span>
				    <span ng-show="vm.formData.picture.result">Upload Successful</span>
				    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
				</div>
			</div>
			<div class="form-group">
				<label for="videoid" class="col-xs-2 col-sm-2 control-label">Video</label>
				<div class="col-xs-8 col-sm-10">
					<input id="videoid" name="videoid"  ng-model="vm.formData.videoid" class="form-control" placeholder="Youtube video ID">
				</div>
			</div>
			<!-- <div class="form-group">
				<label for="rating" class="col-xs-10 col-sm-2 control-label">Rating
				</label>
				<div class="col-xs-12 col-sm-2">
					<select id="rating" name="rating" ng-model="vm.formData.rating" class="form-control input-sm">
						<option>5</option>
						<option>4</option>
						<option>3</option>
						<option>2</option>
						<option>1</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="review" class="col-sm-2 control-label">Review</label>
				<div class="col-sm-10">
					<textarea id="review" name="review" rows="5" required="required" ng-model="vm.formData.reviewText" class="form-control"></textarea>
				</div>
			</div> -->
		<!-- </div> -->
		<div class="modal-footer" style="background-color: white">
			
			<button type="reset" ng-click="vm.resetForm()" class="btn btn-default">Cancel</button>
			<button ng-click="vm.onSubmit()" ng-disabled="vm.isDisabled" type="button" class="btn btn-primary">Submit</button>
		</div>
	</form>
		<div ng-show="vm.message.success">
			<button class="btn btn-success btn-block">Coach Successfully added!
			</button>
		</div>
		<div  ng-show="vm.formError">
			<button class="btn btn-danger btn-block">{{ vm.formError }}
			</button>
		</div>
	</div>
	</div>
	
<footer-generic></footer-generic>