<navigation></navigation>

	<div class="container clear-fix">
	
	
	<div class ="row white centered">
	<form id="addCoach" name="addCoach" role="form" ng-submit="vm.onSubmit()"
	class="container form-horizontal">
		<!-- <div class="modal-header">
			
			<h4 id="myModalLabel" class="modal-title">Add your review for {{ vm.locationData.locationName }}</h4>
		</div -->
		<!-- <div class="modal-body">
			<div class="modal-body">
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}
				</div> -->
			<h1 style="margin-bottom: 40px">Application form</h1>
			
			<div class="form-group">
				<label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
				<div class="col-xs-8 col-sm-10">
					<input id="name" name="name" required="required" ng-model="vm.formData.name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="subject" class="col-xs-2 col-sm-2 control-label">Subject</label>
				<div class="col-xs-8 col-sm-10">
					<input id="subject" name="subject" required="required" ng-model="vm.formData.subject" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="location" class="col-xs-2 col-sm-2 control-label">Location</label>
				<div class="col-xs-8 col-sm-10">
					<input id="location" name="location" required="required" ng-model="vm.formData.location" class="form-control" placeholder="City or Province">
				</div>
			</div>
			<div class="form-group">
				<label for="price" class="col-xs-2 col-sm-2 control-label">Price</label>
				<div class="col-xs-8 col-sm-10">
					<input id="price" name="price" required="required" ng-model="vm.formData.price" class="form-control" placeholder="THB  per course">
				</div>

			</div>
			<div class="form-group">
				<label for="shortDescription" class="col-xs-2 col-sm-2 control-label">Course name</label>
				<div class="col-xs-8 col-sm-10">
					<input id="shortDescription" name="shortDescription" required="required" ng-model="vm.formData.shortDescription" class="form-control" placeholder="English for TOEFL">
				</div>
			</div>
			<div class="form-group">
				<label for="courseDescription" class="col-xs-2 col-sm-2 control-label">Course Description</label>
				<div class="col-xs-8 col-sm-10">
					<textarea rows="3" cols="30" id="courseDescription" name="courseDescription" required="required" ng-model="vm.formData.courseDescription" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="group" class="col-xs-2 col-sm-2 control-label">Group</label>
				<div class="col-xs-8 col-sm-10">
					<input id="group" name="group" required="required" ng-model="vm.formData.group" class="form-control" placeholder="Amount of student">
				</div>
			</div>
			<div class="form-group">
				<label for="time" class="col-xs-2 col-sm-2 control-label">Time</label>
				<div class="col-xs-8 col-sm-10">
					<input id="time" name="time" required="required" ng-model="vm.formData.time" class="form-control" placeholder="Weekday, Sunday, or Any">
				</div>
			</div>
			<div class="form-group">
				<label for="courseLength" class="col-xs-2 col-sm-2 control-label">Course Length</label>
				<div class="col-xs-8 col-sm-10">
					<input id="courseLength" name="courseLength" required="required" ng-model="vm.formData.courseLength" class="form-control" placeholder="hours per course">
				</div>
			</div>
			<div class="form-group">
				<label for="level" class="col-xs-2 col-sm-2 control-label">Level</label>
				<div class="col-xs-8 col-sm-10">
					<input id="level" name="level" required="required" ng-model="vm.formData.level" class="form-control" placeholder="High school, Entrace, Beginner">
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-xs-2 col-sm-2 control-label">category</label>
				<div class="col-xs-8 col-sm-10">
					<input type="text" id="category" name="category" required="required" ng-model="vm.formData.category" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="preparation" class="col-xs-2 col-sm-2 control-label">Preparation</label>
				<div class="col-xs-8 col-sm-10">
					<input id="preparation" name="preparation"  ng-model="vm.formData.preparation" class="form-control" placeholder="book, tools, computer etc..">
				</div>
			</div>
			
			<!-- <div class="form-group">
				<label for="rating" class="col-xs-10 col-sm-2 control-label">Rating
				</label>
				<div class="col-xs-12 col-sm-2">
					<select id="rating" name="rating" ng-model="vm.formData.rating" class="form-control input-sm">
						<option>5</option>
						<option>4</option>
						<option>3</option>
						<option>2</option>
						<option>1</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="review" class="col-sm-2 control-label">Review</label>
				<div class="col-sm-10">
					<textarea id="review" name="review" rows="5" required="required" ng-model="vm.formData.reviewText" class="form-control"></textarea>
				</div>
			</div> -->
		<!-- </div> -->
		<div class="modal-footer" style="background-color: white">
			<button ng-click="vm.onSubmit()" type="button" class="btn btn-default">Cancel</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	</div>
	</div>
	
<footer-generic></footer-generic>