<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">Category
	<span class="caret"></span></button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="category">
	    <li role="presentation" class="dropdown-header">Dropdown header 1</li>
		<li><a role="menuitem" tabindex="-1" ng-click="vm.addModel(req.body)">HTML</a></li>
		<li><a role="menuitem" tabindex="-1" ng-click="vm.addModel(CSS)">CSS</a></li>
		<li><a role="menuitem" tabindex="-1" ng-click="vm.addModel(Javascript)">JavaScript</a></li>
		<li class="divider"></li>
		<li><a role="menuitem" tabindex="-1" ng-click="vm.addModel(About)">About Us</a></li>
	</ul>
</div>