<!-- <script type="text/ng-template" id="home/home.view.html"> -->
 <navigation></navigation>

		<!-- ==== HEADERWRAP ==== -->
		<div id="scroll-container">
	    <div id="headerwrap" id="home" name="home">
	    		<div class="row">
	  		 		<h5 class="pull-right">
	  		 		<a href="#" ng-click="vm.changeLanguage('th')">TH</a>
	  		 		 |
	  		 		<a href="#" ng-click="vm.changeLanguage('en')">EN</a>
	  		 		</h5>
	  		 	</div>
	  		 		<br>
			<header class="clearfix">

	  		 		<!-- <h1><span class="icon icon-shield"></span></h1> -->
	  		 		<h1>Match the Coach</h1>
	  		 		<p  class="hidden-xs">Tell me and I forget.<br>
                	   Teach me and I remember.<br>
                	   Involve me and I learn.</p>
				  	<searchbox></searchbox>
			  		<h3 translate="HOME.HEADERWRAP.SIMPLE"></h3>
			  		<landing></landing>

	    	</header>
	    </div>
	    </div> <!-- Scroll container -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="icon ion-android-happy"></span>
					<h2 class="text-muted" translate="HOME.GRAYWRAP.EASY"></h3>
					<p translate="HOME.GRAYWRAP.EASY-TEXT"></p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon ion-ios-eye-outline"></span>
					<h2 translate="HOME.GRAYWRAP.CHOICE"></h2>
					<p translate="HOME.GRAYWRAP.CHOICE-TEXT"></p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon ion-ios-heart"></span>
					<h2 class="text-muted" translate="HOME.GRAYWRAP.LOVE"></h3>
					<p translate="HOME.GRAYWRAP.LOVE-TEXT"></p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		

		<!-- ==== Become a coach ==== -->
		<div id="scroll-container">
		
			<div class="container" id ="matchwrap" id="match" name="match">
				<div class="row white">
				<br>
					<div class="col-lg-4 col-sm-6 callout">
						<br>
						<h2><strong>{{"HOME.BECOME-COACH.HEADING1" | translate}}</strong></h2>
						<h3 translate="HOME.BECOME-COACH.SUB1"></h3>
						<div class="steps-box">
                    		<div class="work-step">
                        		<div>1</div>
                        		<h4 translate="HOME.BECOME-COACH.LI-A"></h4>
                   			</div>
		                     <div class="work-step">
		                        <div>2</div>
		                        <h4 translate="HOME.BECOME-COACH.LI-B"></h4>
		                    </div>
		                     <div class="work-step">
		                        <div>3</div>
		                        <h4 translate="HOME.BECOME-COACH.LI-C"></h4>
		                    </div>
		                    <div>
			                    <a type="button" class="btn btn-danger btn-lg apply-button" href="/#home" du-smooth-scroll offset="-90">{{'BRANDING_AND_NAV.HOME' | translate}}</a>
			                </div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 callout centered free-program">
						<div class="centered">
						<h2 translate="HOME.FREE.LINE1"> </h2>
						<h3 translate="HOME.FREE.LINE2"> </h3>
						</div>
						<!-- <img ng-src="../image/nb.jpg" alt="Become coach"><br> -->
						<button class="glyphicon glyphicon-certificate btn btn-danger btn-lg free-button" ng-click="vm.popupEmailForm()"> {{'HOME.FREE.BUTTON' | translate}}</button>
					</div>
					<div class="col-lg-4 col-sm-6 callout" id="become" name="become">
						<br>
						<h2><strong>{{"HOME.BECOME-COACH.HEADING2" | translate}}</strong></h2>
						<h3 translate="HOME.BECOME-COACH.SUB2"></h3>
						<div class="steps-box">
                    		<div class="work-step">
                        		<div>1</div>
                        		<h4 translate="HOME.BECOME-COACH.LI-1"></h4>
                   			</div>
		                     <div class="work-step">
		                        <div>2</div>
		                        <h4 translate="HOME.BECOME-COACH.LI-2"></h4>
		                    </div>
		                     <div class="work-step">
		                        <div>3</div>
		                        <h4 translate="HOME.BECOME-COACH.LI-3"></h4>
		                    </div>
		                    <div>
		                    	<a type="button" class="btn btn-danger btn-lg apply-button" ui-sref="become">{{'BRANDING_AND_NAV.BECOME-COACH' | translate}}</a>
		                	</div>
	                    </div>   
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div>
		</div><!-- greywrap -->

		
		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1 translate="HOME.DIVIDER2.HEADING"></h1>
				<br>
				<p translate="HOME.DIVIDER2.TEXT"></p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== TEAM MEMBERS ==== -->
		<div id="scroll-container">
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">WORDS FROM OUR CLIENTS</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4 centered">
					<img class="img img-circle" ng-src="image/pp.jpg" height="120px" width="120px" aria-labelledby="student1">
					<br>
					<h4><b>คุณแพรว</b></h4>
					<h4>นักเรียนเตรียมสอบ IELTS</h4>	
					<p>ในตอนแรกเครียดมากเลยค่ะ เพราะมีเวลาเตรียมตัวน้อยแค่ไม่ถึงครึ่งปี
					   ซื้อหนังสือเตรียมสอบมาอ่านก็ไปได้ช้ามากและมีส่วนที่ไม่เข้าใจเยอะ
					   เคยไปเรียนที่ติวภาษาอังกฤษก็ได้ครูสอนที่ไม่ค่อยเก่ง หาครูหรือ tutor รับสอนพิเศษภาษาอังกฤษ
					   ที่ดีๆหายากจริงๆ เคยไปถามตามที่เรียนพิเศษ กวดวิชาก็ไม่มีคนที่ถนัดติวสอบภาษาอังกฤษด้านนี้ บังเอิญมาเจอ MatchTheCoach พอลองเลือกครูดูก็ถูกใจมาก
					   มีครูภาษาทั้งคนไทยและครูชาวต่างประเทศ แต่ละคนถนัดและติวในเรื่องต่างๆ เช่น
					   Speaking Reading Writing ครูจะมีเตรียมคำศัพท์และบทสนทนาภาษาอังกฤษที่พบบ่อยในข้อสอบมาให้เรียนให้ฝึก และยังมี tutor ที่เป็นชาวต่างชาติมาคอยดูเรื่องการออกเสียงและบทสนทนาให้เราได้ฝึกจริงๆ สุดท้ายได้คะแนนสูงแบบคาดไม่ถึง
					   ครู tutor ภาษาอังกฤษที่ MatchTheCoach เป็นมืออาชีพจริงๆและใจดีมากๆ
					   ถ้าเราไม่เข้าใจตรงไหน บางทีส่งข้อความถามไปกลางดึกครูยังตอบกลับมา
					   ขอบคุณ MatchTheCoach นะคะ</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-4 centered">
					<img class="img img-circle" ng-src="image/kai-small.jpg" height="120px" width="120px" aria-labelledby="วินัย โสตถิพันธุ์">
					<br>
					<h4><b>Vinai Sotthibandhu</b></h4>
					<h4>Jazz pianist</h4>
					<p>"The best teacher is the one who suggests rather than dogmatizes and inspires his listener with the wish to teach himself. Just practicing technique in the traditional classical way won’t lead you to your goal of becoming a better jazz musician. Thank you for MatchTheCoach make I can focus on my teaching.</p>
					<p>ในการเรียนดนตรีหรือเรียนเปียโนที่ดีทั้งเด็กหรือผู้ใหญ่ คือครูที่แนะนำ แสดงให้เห็นมากกว่าการบอกให้ทำตาม แรงบันดาลใจของครูคล้ายกับความปรารถนาที่จะสอนตัวเอง 
					เพียงแค่การฝึกเทคนิคในวิธีที่คลาสสิกแบบดั้งเดิมจะไม่นำคุณไปสู่เป้าหมาย
					ของการเป็นนักดนตรีแจ๊สที่ดีกว่า ขอขอบคุณสำหรับการ MatchTheCoach ทำให้ผมสามารถมุ่งเน้นการเรียนการสอนของผม</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-4 centered">
					<img class="img img-circle" ng-src="image/grad.jpg" height="120px" width="120px" aria-labelledby="student3">
					<br>
					<h4><b>น้องแอน</b></h4>
					<h4>นักเรียน ม.5</h4>
					<p>บอกก่อนเลยว่าเป็นคนอ่อนคณิตศาสตร์มากกกกก.. มากถึงมากที่สุด
					หาครูติวคณิตศาสตร์สอนพิเศษมาตั้งแต่ม.ต้น ที่ไปเรียนตามโรงเรียนกวดวิชาก็ไป
					แต่พอเรียนคนเยอะๆเวลาไม่เข้าใจเราก็ไม่รู้จะทำไง หาครูติวคณิตศาสตร์ที่จะเรียนตัวต่อตัว
					บางทีก็แพง จนไป search เจอ MatchTheCoach นี่แหละค่ะ ตอนแรกก็ไม่แน่ใจ
					แต่เออเห็นเว็บเค้าดูดี แล้วไปเลือก tutor ได้เองด้วย เลยดูครูสอนพิเศษที่ดูเหมาะกับเรา
					เรียนกันอยู่พักนึงพอรู้ตัวอีกที เฮ้ย.ทำไมเมื่อก่อนเราไม่เข้าใจตรงนี้
					จริงๆมันดูไม่ได้ยากเลย เอาการบ้านไปให้เฉลยโดนเขกหัวนะคะ :P 
					พี่tutor ให้ทำเองแล้วนั่งอธิบายอย่างละเอียด แถมให้โจทย์เพิ่ม แต่หลังเรียน
					มาทำที่บ้านนี่กลับทำได้ ใช้เวลาไม่มาก แอนบอกเลยถ้าอ่อนเลขจะเรียนคณิตศาสตร์
					ต้องตั้งใจ และมี tutor แนะนำดี บวกความฮึด รับรองไม่ยากไม่จำเป็นต้องไปโดรงเรียนกวดวิชาที่ไกลๆก็ไกล แถมยังแพง</p>
				</div><!-- col-lg-3 -->
				
				
			</div><!-- row -->
		</div><!-- container -->
		</div> <!-- Scroll container -->

		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1 translate="HOME.DIVIDER6.HEADING"></h1>
				
				<p translate="HOME.DIVIDER6.TEXT"></p>
				<p>TEL : 095 5073078</p>
				<p><a class="icon ion-social-facebook" ng-href="https://www.facebook.com/Matchthecoach-1667805550215363/"></a></p>
			</div><!-- container -->
		</section><!-- section -->

		

		<!-- Contact -->
		<div id="scroll-container">
		<div class="container" id="contact" name="contact">
			<div class="row white centered">
			<br>
				<h1 class="centered" translate="HOME.CONTACT.HEADING"></h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3 translate="HOME.CONTACT.SUB1"></h3>
					<p><span class="icon ion-home"></span> {{ "HOME.CONTACT.PAR-0" | translate }}<br>{{ "HOME.CONTACT.PAR-1" | translate }}<br>{{ "HOME.CONTACT.PAR-2" | translate }}<br/>
						<span class="icon ion-iphone"></span><a ng-href="tel:0955073078"> 095-507-3078</a> <br/>
						<span class="icon ion-email"></span> <a ng-href="mailto:matchthecoach@royyak.com"> matchthecoach@royyak.com</a> <br/>
						<!-- <span class="icon icon-twitter"></span> <a href="#"> @macsermkiat </a> <br/> -->
						<span class="icon ion-social-facebook"></span> <a ng-href="https://www.facebook.com/matchTcoach"> Royyak </a> <br/>
						<a ng-href="https://line.me/R/ti/p/%40gpp9462v"><img height="36" border="0" aria-labelledby="เพิ่มเพื่อน" ng-src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a><br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
				
					<h3 translate="HOME.CONTACT.SUB2"></h3>
					<p translate="HOME.CONTACT.TEXT-2"></p>
					
				

						<form id="addEmail" name="addEmail" class="form-horizontal" ng-submit="vm.onNewsLetter()" novalidate>
						  <div class="form-group" >
						    <!-- <label for="email" class="col-lg-2 control-label"></label> -->
						    <div class="col-lg-12">
						      <input name ="email" class="form-control" id="email" translate-attr="{ placeholder : 'HOME.CONTACT.EMAIL' }" ng-model="vm.formLetter.email">
						    </div>
						  </div>
						  <div class="form-group">
						    <!-- <label for="name" class="col-lg-2 control-label"></label> -->
						    <div class="col-lg-12">
						      <input class="form-control" name="name" id="name" translate-attr="{ placeholder : 'HOME.CONTACT.NAME' }" ng-model="vm.formLetter.name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-12">
						      <button type="submit" class="btn btn-success" translate="HOME.CONTACT.BUTTON"></button>
						    </div>
						  </div>
					    </form><!-- form -->

					   <div ng-show="vm.message.success">
							<button class="btn btn-success btn-block">Thank you!
							</button>
						</div>
					
				</div><!-- col -->
				
				<div class="col-lg-4 hidden-xs hidden-sm" >
					<h3 translate="HOME.CONTACT.SUB3"></h3>
					<p translate="HOME.CONTACT.TEXT-3"></p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->
		</div> <!-- Scroll container -->

<footer-generic></footer-generic>
<!-- </script>-->