<!-- <script type="text/ng-template" id="home/home.view.html"> -->
 <!-- <navigation></navigation> -->

		<!-- ==== HEADERWRAP ==== -->
		<div id="scroll-container">
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		
	  		 		<!-- <h1><span class="icon icon-shield"></span></h1> -->
	  		 		<h1>Match the Coach</h1>
	  		 		<p  class="hidden-xs">Tell me and I forget.<br>
                	   Teach me and I remember.<br>
                	   Involve me and I learn</p>
			  		<searchbox></searchbox>
			  		<h3>Simple, Easy way to find a coach or tutor in any field.</h3>
	    	</header>
	    </div>
	    </div> <!-- Scroll container -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap" class="hidden-xs hidden-sm">
			<div class="row">
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2>Easy</h2>
					<p>The better and easier way to choose the right coach or tutor for you.  </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-eye"></span>
					<h2>Choice</h2>
					<p>We open choices for you to made. Your can search for the coach experience, specialist. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon icon-heart"></span>
					<h2>Love</h2>
					<p>All the coaches practice with love. They love teaching, they evaluated, and they are the best!  </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		

		<!-- ==== Become a coach ==== -->
		<div id="scroll-container">
		
			<div class="container" id ="matchwrap" id="match" name="match">
				<div class="row white">
				<br>
					<div class="col-lg-4 col-sm-6 callout">
						<br>
						<h2><strong>Match the coach</strong></h2>
						<h3>Simple as a - b - c</h3>
						<div class="steps-box">
                    		<div class="work-step">
                        		<div>1</div>
                        		<h4>Sign in and fill in subscription form</h4>
                   			</div>
		                     <div class="work-step">
		                        <div>2</div>
		                        <h4>Search the coach from out list.</h4>
		                    </div>
		                     <div class="work-step">
		                        <div>3</div>
		                        <h4>Match the Coach!</h4>
		                    </div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 callout centered">
						<img src="../image/nb.jpg">
					</div>
					<div class="col-lg-4 col-sm-6 callout" id="become" name="become">
						<br>
						<h2><strong>Become a coach</strong></h2>
						<h3>Simple as 1 - 2 - 3</h3>
						<div class="steps-box">
                    		<div class="work-step">
                        		<div>1</div>
                        		<h4>Sign in and fill in subscription form</h4>
                   			</div>
		                     <div class="work-step">
		                        <div>2</div>
		                        <h4>Create a course</h4>
		                    </div>
		                     <div class="work-step">
		                        <div>3</div>
		                        <h4>Prepare yourself for coaching!</h4>
		                    </div>
	                    </div>
							<p><a class="btn btn-success">Contact Us</a></p>
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div>
		</div><!-- greywrap -->
		<!-- ==== ABOUT ==== -->
		<!--<div id="scroll-container">
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT OUR MATCH THE COACH</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>We believe ideas come from everyone, everywhere. In fact, at Royyak, everyone within our company walls is a expertise in their own field. However, we share one believe together, "The good education made human being fully human". These truths drive us, motivate us, and ultimately help us redefine the power of building Match The Coach. We’re big believers in doing right by our neighbors.</p>
				</div>
				
				<div class="col-lg-6">
					<p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
				</div>
			</div>
		</div>
		</div> -->
		
		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>COACHING IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with students, we believe coaching and teaching must invite them to take part in the conversation.</p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== TEAM MEMBERS ==== -->
		<div id="scroll-container">
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">WORDS FROM OUR STUDENTS</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="image/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Mike Arney</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="image/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Tim Davies</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Tim is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="image/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Michele Lampa</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Be a creative director is a hard task, but Michele loves what she does. Her combination of knowledge and expertise is an important pillar in our agency.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="image/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Jaye Smith</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Jaye began making websites when animated logos and scrolling text were cool, but has since found a love for simplicity, creating websites that are a pleasure to browse. Monkey Island Fan.</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->
		</div> <!-- Scroll container -->

		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>CRAFTED IN BANGKOK, THAILAND.</h1>
				<hr>
				<p>Some Address 987,</p>
				<p>+34 9884 4893</p>
				<p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
			</div><!-- container -->
		</section><!-- section -->

		

		<!-- Contact -->
		<div id="scroll-container">
		<div class="container" id="contact" name="contact">
			<div class="row white centered">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span> 126/185 Pracha U-tit 78/1, <br> Thung Khru, Bangkok 10140<br/>
						<span class="icon icon-phone"></span> +6695-507-3078 <br/>
						<span class="icon icon-mobile"></span> +6695-507-3078 <br/>
						<span class="icon icon-envelop"></span> <a href="#"> macsermkiat@yahoo.com</a> <br/>
						<span class="icon icon-twitter"></span> <a href="#"> @macsermkiat </a> <br/>
						<span class="icon icon-facebook"></span> <a href="#"> Royyak </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
				
					<h3>Newsletter</h3>
					<p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
					
				

						<form id="addEmail" name="addEmail" class="form-horizontal" role="form" ng-submit="vm.onNewsLetter()" novalidate>
						  <div class="form-group" >
						    <!-- <label for="email" class="col-lg-2 control-label"></label> -->
						    <div class="col-lg-12">
						      <input name ="email" class="form-control" id="email" placeholder="Email" ng-model="vm.formLetter.email">
						    </div>
						  </div>
						  <div class="form-group">
						    <!-- <label for="name" class="col-lg-2 control-label"></label> -->
						    <div class="col-lg-12">
						      <input class="form-control" name="name" id="name" placeholder="Your Name" ng-model="vm.formLetter.name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-12">
						      <button type="submit" class="btn btn-success">Please send me a newsletter</button>
						    </div>
						  </div>
					    </form><!-- form -->

					   <div ng-show="vm.message.success">
							<button class="btn btn-success btn-block">Thank you!
							</button>
						</div>
					
				</div><!-- col -->
				
				<div class="col-lg-4 hidden-xs hidden-sm" >
					<h3>Support Us</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->
		</div> <!-- Scroll container -->

<!-- <footer-generic></footer-generic> -->
<!-- </script>-->