<!-- <button class="btn btn-lg btn-success landing-button" ng-click="lgin.student()"> {{'LANDING.STUDENT' | translate}} </button> -->
<button class="btn btn-lg btn-success landing-button" href="javascript:void(0)" ng-click="lgin.popupHelp()"> {{'LANDING.HELP' | translate}} </button>

<a type="button" class="btn btn-lg btn-primary landing-button" style="padding-left:8px;" ng-href="https://www.eventbrite.sg/e/2-tickets-33780172405" data-mode="popup"  target="_blank" > สัมมนาเลี้ยงลูก 2 ภาษา </a>
<a type="button" class="btn btn-lg btn-warning landing-button" href="javascript:void(0)"  ng-click="lgin.teacher()"> {{'LANDING.COACH' | translate}} </a>