<navigation></navigation>
	<div class="container clear-fix">
	
	    <hgroup class="mb20">
			<h2 class="page-header"><i class="glyphicon glyphicon-leaf"></i> Pricing</h2>
			<h3>How pricing works</h3>								
		</hgroup>
		
	    <section class="col-xs-12 col-sm-12 col-md-12">
			
				<!-- <div class="col-xs-12 col-sm-12 col-md-6"  ng-model="vdo">
					<a href="#" title="youtube" class="thumbnail">
						<ng-if="!!vdo" youtube-video video-id="videoid" player-vars="playerVars"
						player-width="'100%'" player-height="'100%'">
						</youtube-video>
						<ng-if="!vdo" youtube-video video-id="io7ZXGdXieI" player-vars="playerVars"
						player-width="'100%'" player-height="'100%'">
						</youtube-video>
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3">
					<ul class="meta-search">
						<li><i class="glyphicon glyphicon-user"></i> <span>{{ vm.data.coach.name }}</span></li>
						<li><i class="glyphicon glyphicon-education"></i> <span>{{ vm.data.coach.category }}</span></li>
						<li><i class="glyphicon glyphicon-pencil"></i> <span>{{ vm.data.coach.courseLength }} hours</span></li>
						<li><i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star-empty"></i>
						</li>
					</ul>
				</div> -->
			
				
			<article class="search-result row">
				
				
				<div class="col-xs-12 col-sm-12 col-md-12 excerpet pricing">

					<h2>Concepts: </h2>
					<p>The pricing occur in this service is called 'Matching fee'
					Which occur to both coach and students.</p>
					<h2>Matching fee: </h2>
					<p>The matching fee cost is<strong> 10%</strong> of the course's price. <strong>Both from a coach and student.</strong></p>
					<h2>Why: </h2>				
	                <p>You can think that a matching fee is like a deposit.
	                If a coach or student cancel before a course too sudden<strong>(< 48 hours)</strong>,
	                You will get a matching fee back. *Plus* if the cancellation made on the day of the course, you'll get your fee back, plus half of the other side's fee.</p>
	                <h2>How much: </h2>
	                <p>The matching fee price will be sent via an Email</p>
	                <h2>Transfer Channel: </h2>
	                <p>PromptPay: 0955073078</p>
	                <p>Siam Commercial Bank: xxxxxxxxxxxxxx </p>
	                <p>Kasikorn Bank: xxxxxxxxxxxxxxxx </p>
	                <h2>When to transfer: </h2>
	                <p>For Student: Transfer<mark> when you get an Email confirmation.</mark></p>
	                <p>For Coach: Transfer<mark> after the student already transfer</mark>, we will send you a second Email when the time come.<p>
	                <p>After you transfer,<mark> please reply an Email with a transfer document</mark> back to us.</p>
	                <h2>Time Limit: </h2>
	                <p>Please do a transfer process within 7 days after you got a confirmation Email</p>
	                <h2>Cancellation: </h2>
	                <p>Cancellation would not cost anything if made it before the course at least 2 days. If you canceled within 48 hours, you will not get the matching fee back.</p>
	                <h2>What to do if student/coach try to contact personally: </h2>
	                <p>We recommend that you shouldn't accept or contact each other personally outside the web. We concerned about your securit and personal informations most. You also loss many benefits that will occuring, and loss the cancellation protection.</p>
	                <p>Please report to us if someone try to contact you personally before the matching done</p>
	                <br>
				</div>
				<span class="clearfix borda"></span>
			</article>
		</section>
	</div>

<footer-generic></footer-generic>